/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: Inter, sans-serif;
  --fantasy-font-family: "Press Start 2P", fantasy;
  --heart-color: #ff0000;
  --page-background: #fff;
  --title-font-weight: "wght" 715;
  --text-font-weight: "wght" 410;
  --header-background: var(--page-background);
  --text-color: #000;
  --mix-blend-color: var(--page-background);
  --stroke-color: var(--text-color);
  --label-stroke-color: var(--page-background);
  --bg-image: repeating-linear-gradient(
      to right, 
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ), 
    repeating-linear-gradient(
      to bottom, 
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a
    );
}
